/packages/benben-model/node_modules
/packages/benben-model/.idea
/packages/benben-area/.idea
/packages/benben-area/node_modules
/packages/benben-model/package-lock.json
/packages/benben-model2/node_modules
